div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 255, 220);
}

ul{
    background-color: rgba(237, 226, 248, 0.651);
}

button{
    background-color: rgb(217, 176, 255);
}
input{
    background-color: #ebe0ec;
    width: 40px;
    margin: 10px;
    margin-bottom: 3px;
    padding-left: 21px;
}
}